﻿@model LancheListViewModel

@*@{
    ViewData["Title"] = "List";
}*@

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>
@*<h2>@ViewData["Data"]</h2>*@
<div class="container">
<div class="row">
@foreach (var lanche in Model.Lanches) {
    <partial name="_LanchesResumo" for="@lanche" />
}
</div>
</div>
