﻿@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">
        <p>
            <img src="@Model.ImagemUrl" class="img-fluid" />
        </p>
        <h3>
            Preço : @Model.Preco.ToString("c")
        </h3>
        <a asp-controller="Lanche" asp-action="Details" style="color:black"
                    asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
            
        
        <p>
            <div>
                <p button="button">
                    <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" 
                    asp-route-lancheId="@Model.LancheId">Incluir ao carrinho</a>
                </p>
            </div>
        </p>
            
    </div>