﻿<div class="container"> 
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" /> 
    <div class="jumbotron"> 
        <h3>Queremos ouvir o que voce tem a dizer</h3> 
        <p> Se voce tiver alguma duvida ou sugestão, fale conosco </p> 
        <p> 
            <span> 
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5> <email endereco="victorgianelli@hotmail.com" conteudo="Enviar um e-mail"> </email> </h5> 
            <br /> 
            <span> 
                <img src="~/images/phone-app-icon.png" /> 
            </span> 
            <h5>(11) 9874-5566</h5> 
            <br /> 
            <span>
                <img src="~/images/Home-iconred.png" /> 
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-550 - S5o Paulo</h5> 
        </p> 
    </div> 
</div> 

