﻿@model CarrinhoCompraViewModel

<div class="Container">
<div class="row">

    <div> 
    <img src="~/images/Full-Cart-icon.png" width="50px" height="50px" />
        <h4> Seu carrinho de compras : </h4> 
    </div> 
    <table class="table table-bordered table-striped" >
        <thead> 
            <tr> 
                <th>Quantidade</th> 
                    <th>Lanche</th> 
                    <th class="text-right">Preco</th> 
                    <th class="text-right">Subtotal</th> 
                <th></th> 
                

            </tr> 
        </thead> 

         <tbody>
            @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItems)
            {
                  <tr>
                      <td class="text-center">@item.Quantidade</td>
                      <td class="text-left">@item.Lanche.Nome</td>
                      <td class="text-right">@item.Lanche.Preco.ToString("c")</td>
                      
                       <td class="text-right">
                          @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                       </td>

                       <td class="text-center">
                         <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" 
                          asp-route-lancheId="@item.Lanche.LancheId"><img src="~/images/remove.ico" width="30px" height="30px" />
                         </a>
                      </td>
                  </tr>                  
            }
        </tbody>

        <tfoot> 
            <tr> 
                <td colspan="3" class="text-right">Total:</td> 
                <td class="text-right"> @Model.CarrinhoCompraTotal.ToString("c") </td> 
            </tr> 
        </tfoot>
    </table> 
        <div class="text-right"> 
            <div class="btn-group"> 
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a> 
                &nbsp;&nbsp;&nbsp; 
                <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando</a> 
            </div> 
        </div> 
    <br> 


</div>
</div>